Imports, read csv files

In [1]:
import pandas as pd
in_outcomes = pd.read_csv('aac_intakes_outcomes.csv')

Clean Data & delete unnecessary columns

In [2]:
in_outcomes['outcome_datetime'] = pd.to_datetime(in_outcomes['outcome_datetime'])
in_outcomes['intake_datetime'] = pd.to_datetime(in_outcomes['intake_datetime'])
in_outcomes['date_of_birth'] = pd.to_datetime(in_outcomes['date_of_birth'])

In [3]:
in_outcomes.drop('age_upon_outcome', inplace=True, axis=1)
in_outcomes.drop('age_upon_intake', inplace=True, axis=1)
in_outcomes.drop('animal_id_intake', inplace=True, axis=1)

In [4]:
in_outcomes.rename(columns = {'animal_id_outcome':'animal_id'}, inplace = True)

Run head and info to look at dataset

In [5]:
in_outcomes.head(1)
in_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79672 entries, 0 to 79671
Data columns (total 38 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   animal_id                   79672 non-null  object
 1   date_of_birth               79672 non-null  datetime64[ns]
 2   outcome_subtype             36348 non-null  object
 3   outcome_type                79662 non-null  object
 4   sex_upon_outcome            79671 non-null  object
 5   age_upon_outcome_(days)     79672 non-null  int64
 6   age_upon_outcome_(years)    79672 non-null  float64
 7   age_upon_outcome_age_group  79672 non-null  object
 8   outcome_datetime            79672 non-null  datetime64[ns]
 9   outcome_month               79672 non-null  int64
 10  outcome_year                79672 non-null  int64
 11  outcome_monthyear           79672 non-null  object
 12  outcome_weekday             79672 non-null  object
 13  outcome_hour                79672 non-null  int64
 14  outcome_number              79672 non-null  float64
 15  dob_year                    79672 non-null  int64
 16  dob_month                   79672 non-null  int64
 17  dob_monthyear               79672 non-null  object
 18  animal_type                 79672 non-null  object
 19  breed                       79672 non-null  object
 20  color                       79672 non-null  object
 21  found_location              79672 non-null  object
 22  intake_condition            79672 non-null  object
 23  intake_type                 79672 non-null  object
 24  sex_upon_intake             79671 non-null  object
 25  count                       79672 non-null  int64
 26  age_upon_intake_(days)      79672 non-null  int64
 27  age_upon_intake_(years)     79672 non-null  float64
 28  age_upon_intake_age_group   79672 non-null  object
 29  intake_datetime             79672 non-null  datetime64[ns]
 30  intake_month                79672 non-null  int64
 31  intake_year                 79672 non-null  int64
 32  intake_monthyear            79672 non-null  object
 33  intake_weekday              79672 non-null  object
 34  intake_hour                 79672 non-null  int64
 35  intake_number               79672 non-null  float64
 36  time_in_shelter             79672 non-null  object
 37  time_in_shelter_days        79672 non-null  float64
dtypes: datetime64[ns](3), float64(5), int64(11), object(19)
memory usage: 23.1+ MB

# Questions and Answers:

## 1. Is there an area where more pets are found?

Yes, pets are most often found in Austin, Outside the Jurisdiction, Travis, 7201 Levander Loop in Austin, and Del Valle. This was found by finding the value counts of all the locations, and printing the top 5 results.

In [6]:
all_locations = in_outcomes['found_location']
top_five = all_locations.value_counts()[:5]
top_five

Austin (TX)                          14311
Outside Jurisdiction                   945
Travis (TX)                            907
7201 Levander Loop in Austin (TX)      514
Del Valle (TX)                         407
Name: found_location, dtype: int64

## 2. What is the average number of pets found in a month in the year 2015? Are there months where there is a higher number of animals found?
The average number of pets found in a month in 2015 was 1558.25 animals. The months with the highest number of animals would be June, May, and October. This was found by finding all the animals from 2015 and averaging them. Then each individual month was averaged to find months with higher intakes of animals.

In [7]:
pets_2015 = in_outcomes[in_outcomes['intake_year'] == 2015]
month_2015 = pets_2015['intake_month'].value_counts()
month_2015.sum()
total_avg = (month_2015.sum()) /12
print(total_avg)
monthly_avg = month_2015/12
monthly_avg.sort_values(ascending=False)

1558.25

6     182.333333
5     174.333333
10    144.833333
8     143.083333
7     136.166667
9     132.500000
4     128.250000
11    117.416667
3     112.083333
1      99.916667
12     94.000000
2      93.333333
Name: intake_month, dtype: float64

## 3. What is the ratio of incoming pets vs. adopted pets?
The ratio of incoming to adopted pets is 2.344. This was found by finding the number of incoming pets and dividing by the number of apopted pets.

In [28]:
adopted = in_outcomes[in_outcomes['outcome_type'] == 'Adoption']
adopted = adopted['animal_id'].unique()
print(adopted)
total_incomes = in_outcomes['animal_id'].unique()
ratio = len(total_incomes)/len(adopted)
ratio

['A200922' 'A210457' 'A226069' ... 'A769034' 'A769036' 'A769044']

2.344159228614242

## 4. What is the distribution of the types of animals in the shelter?
The shelter had dogs, cats, other animals, and birds. This was found by looking at the value counts of the animal types.

In [33]:
animal_types = in_outcomes['animal_type'].value_counts()
animal_types

Dog      45366
Cat      29539
Other     4428
Bird       339
Name: animal_type, dtype: int64

## 5. What are the adoption rates for specific breeds?
The top breeds of the shelter were: Pit Bull Mix, Chihuahua Shorthair Mix, Labrador Retriever Mix, German Shepherd Mix, and Australian Cattle Dog Mix. In order, the breeds have a 37.1%, 47%, 49.4%, 47.3%, and 55.2% adoption rate. This was found by dividing the total number of that breed by the total number adopted from that breed.

In [67]:
dogs = in_outcomes[in_outcomes['animal_type'] == 'Dog']
top_dogs = dogs['breed'].value_counts()[:5]
top_dogs

Pit Bull Mix                 6256
Chihuahua Shorthair Mix      4831
Labrador Retriever Mix       4789
German Shepherd Mix          1950
Australian Cattle Dog Mix    1099
Name: breed, dtype: int64

In [59]:
pit_adopt = dogs[(dogs['breed'] == 'Pit Bull Mix') & (dogs['outcome_type'] == 'Adoption')]
chihuahua_adopt = dogs[(dogs['breed'] == 'Chihuahua Shorthair Mix') & (dogs['outcome_type'] == 'Adoption')]
lab_adopt = dogs[(dogs['breed'] == 'Labrador Retriever Mix') & (dogs['outcome_type'] == 'Adoption')]
gershep_adopt = dogs[(dogs['breed'] == 'German Shepherd Mix') & (dogs['outcome_type'] == 'Adoption')]
aust_adopt = dogs[(dogs['breed'] == 'Australian Cattle Dog Mix') & (dogs['outcome_type'] == 'Adoption')]

pit = dogs[dogs['breed'] == 'Pit Bull Mix']
chihuahua = dogs[dogs['breed'] == 'Chihuahua Shorthair Mix']
lab = dogs[dogs['breed'] == 'Labrador Retriever Mix']
gershep = dogs[dogs['breed'] == 'German Shepherd Mix']
aust = dogs[dogs['breed'] == 'Australian Cattle Dog Mix']

In [62]:
pitbull_percent = len(pit_adopt)/len(pit)
chihuahua_percent = len(chihuahua_adopt)/len(chihuahua)
lab_percent = len(lab_adopt)/len(lab)
gershep_percent = len(gershep_adopt)/len(gershep)
aust_percent = len(aust_adopt)/len(aust)

In [63]:
print(pitbull_percent)
print(chihuahua_percent)
print(lab_percent)
print(gershep_percent)
print(aust_percent)

0.37148337595907927
0.4698820120057959
0.49446648569638757
0.4728205128205128
0.5523202911737943

## 6. What are the adoption rates for different colorings?
The top 5 colors in the shelter were Black/White, Black, Brown Tabby, Brown, and White. Their adoption rates were, in order, 45.2%, 40.3%, 41.8%, 22.1%, and 37.6%. This was found by dividing the colored animals by their adoption rates.

In [65]:
top_colors = in_outcomes['color'].value_counts()[:5]
top_colors

Black/White    8270
Black          6673
Brown Tabby    4471
Brown          3598
White          2835
Name: color, dtype: int64

In [106]:
black_white_adopt = in_outcomes[(in_outcomes['color'] == 'Black/White') & (in_outcomes['outcome_type'] == 'Adoption')]
black_adopt = in_outcomes[(in_outcomes['color'] == 'Black') & (in_outcomes['outcome_type'] == 'Adoption')]
brown_tabby_adopt = in_outcomes[(in_outcomes['color'] == 'Brown Tabby') & (in_outcomes['outcome_type'] == 'Adoption')]
brown_adopt = in_outcomes[(in_outcomes['color'] == 'Brown') & (in_outcomes['outcome_type'] == 'Adoption')]
white_adopt = in_outcomes[(in_outcomes['color'] == 'White') & (in_outcomes['outcome_type'] == 'Adoption')]

black_white = in_outcomes[in_outcomes['color'] == 'Black/White']
black = in_outcomes[in_outcomes['color'] == 'Black']
brown_tabby = in_outcomes[in_outcomes['color'] == 'Brown Tabby']
brown = in_outcomes[in_outcomes['color'] == 'Brown']
white = in_outcomes[in_outcomes['color'] == 'White']

In [107]:
black_white_percent = len(black_white_adopt)/len(black_white)
black_percent = len(black_adopt)/len(black)
brown_tabby_percent = len(brown_tabby_adopt)/len(brown_tabby)
brown_percent = len(brown_adopt)/len(brown)
white_percent = len(white_adopt)/len(white)

In [108]:
print(black_white_percent)
print(black_percent)
print(brown_tabby_percent)
print(brown_percent)
print(white_percent)

0.4519951632406288
0.40341675408362054
0.4184746141802729
0.2206781545302946
0.37566137566137564

## 7. About how many animals are spayed/neutered each month?
About 2499 animals are spayed or neutered each month. This was found by finding animals that were unspayed on intake and spayed on outtake and then dividing that number by 12 to find the average.

In [75]:
sp_ne = in_outcomes[((in_outcomes['sex_upon_intake'] == 'Intact Male') | (in_outcomes['sex_upon_intake'] == 'Intact Female')) & ((in_outcomes['sex_upon_outcome'] == 'Neutered Male') | (in_outcomes['sex_upon_outcome'] == 'Spayed Female'))]

month_sp_ne = len(sp_ne)/12
month_sp_ne

2498.6666666666665

# Extra Credit:

## 1. How many animals in the shelter are repeats? Which animal was returned to the shelter the most?
There were 71961 animals that were in the shelter more than once. The animal that was returned to the shelter the most was the animal with the ID A721033 who came to the shelter 13 times. this was found by looking at animal ideas that appeared more than once, then pulling the highest value count.

In [128]:
repeats = in_outcomes['animal_id'].value_counts() > 1
num_repeats = len(repeats==True)
top_repeat = in_outcomes['animal_id'].value_counts()[:1]

In [129]:
print(num_repeats)
print(top_repeat)

71961
A721033    13
Name: animal_id, dtype: int64

## 2. What are the adoption rates for the following age groups?
- baby - 51.2%
- young - 44.2%
- adult - 21%
- senior - 37.6%
This was found by creating age groups using their age in days, then finding out which of those animals had been adopted and dividing that by the total from each age group.

In [109]:
baby = in_outcomes[in_outcomes['age_upon_outcome_(days)'] < 122]
young = in_outcomes[(in_outcomes['age_upon_outcome_(days)'] >= 122) & (in_outcomes['age_upon_outcome_(days)'] < 730)]
adult = in_outcomes[(in_outcomes['age_upon_outcome_(days)'] >= 730) & (in_outcomes['age_upon_outcome_(days)'] < 3652)]
senior = in_outcomes[in_outcomes['age_upon_outcome_(days)'] >= 3652]

In [110]:
baby_adopt = baby[baby['outcome_type'] == 'Adoption']
young_adopt = young[young['outcome_type'] == 'Adoption']
adult_adopt = adult[adult['outcome_type'] == 'Adoption']
senior_adopt = senior[senior['outcome_type'] == 'Adoption']

In [111]:
baby_percent = len(baby_adopt)/len(baby)
young_percent = len(young_adopt)/len(young)
adult_percent = len(adult_adopt)/len(adult)
senior_percent = len(senior_adopt)/len(senior)

In [112]:
print(baby_percent)
print(young_percent)
print(adult_percent)
print(senior_percent)
print(white_percent)

0.5117393776911203
0.44249956992946843
0.34584513692162416
0.2102325581395349
0.37566137566137564

## 3. If spay/neuter for a dog costs 100 and a spay/neuter for a cat costs 50, how much did the shelter spend in 2015 on these procedures?

They spent $563,900 in 2015. This was found using the previous spray neuter variable and sorting by intake year 2015. Then those values were multiplied by the cost and then added together for the total.

In [100]:
dog_spne = sp_ne[(sp_ne['animal_type'] == 'Dog') & (sp_ne['intake_year'] == 2015)]
cat_spne = sp_ne[(sp_ne['animal_type'] == 'Cat') & (sp_ne['intake_year'] == 2015)]

dog_cost = len(dog_spne) * 100
cat_cost = len(cat_spne) * 50
total = dog_cost + cat_cost
print(total)

563900